<footer>
  <div class="footer">
    <div class="f-icon-socal">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="f-company">
      <p class="brand-name">&copy; 2025 Wanderlust Pvt. Ltd. <br> All rights reserved.</p>
    </div>
    <div class="f-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>
