<% layout('/layouts/boilerplate.ejs') -%>

<div class="alert alert-danger col-8 offset-2 mt-5" role="alert">
    <div style="text-align: center;">
        <h3><%= err.message %></h3>
    </div>
    <br>
    <p><%= err.stack %></p>
</div>